@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  background-image: linear-gradient(to top, #ff5e3a, #ff9500);
}

i {
  color: #fff;
}

.btn {
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  background-color: #fff;
  color: #ff5e3a;
  border-color: #fff;
}

@media only screen and (min-width: 60em) {

  li {
    text-align: left;
  }

  .unit-middle {
    border-left: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .5);
  }

}
